<!DOCTYPE html>
<html>
<head>
	<title>Jasmina Xie</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
</head>

<body>

	<div class = "container-narrow">

		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li class ="active"><a href='#'>Home</a></li>
				<li><a href="#">Projects</a></li>
			</ul>
			<h3 class = "muted">Developing Developer</h3>
		</div>

		<hr>

		<div class="jumbotron">
			<h1>Jasmina Xie</h1>
			<p class="lead">Hi, I'm Jasmina. I'm developing developer. There will be cool stuff here soon.</p>
		</div>

		<hr>

		<div class="footer">
			<p>&copy; Jasmina Xie 2013</p>
		</div>

	</div> <!-- /container -->

	<!-- Javascript is at the end to make pages load faster-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>