<!DOCTYPE html>
<html>
<head>
	<title> Jasmina, aspiring web developer </title>

	<!-- CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">

</head>

<body>

<p>Hi, I'm Jasmina. I'm an aspiring web developer. There will be cool stuff here soon.</p>

</body>
</html>