<!DOCTYPE html>
<html>
<head>
	<title>Jasmina Xie</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
</head>

<body>

	<div class = "container-narrow">

		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li class ="active"><a href='#'>Home</a></li>
				<li><a href="#">Projects</a></li>
			</ul>
			<h3 class = "muted">Developing Developer</h3>
		</div>

		<hr>

		<div class="jumbotron">
			<h1>Yugi Moto</h1>
			<p class="lead">Hi, I'm Jasmina. I'm developing developer. There will be cool stuff here soon.</p>
		</div>

		<hr>
		<div id="food">
			<h4 class="muted">Tasty Things</h4>

			<h5 class="muted">Abalone</h5>
			<div>
				<p>By Chef David Kinch of Manresa.</p>
			</div>

			<h5 class="muted">Lobster</h5>
			<div>
				<p>From Gary Danko in San Francisco, CA.</p>
			</div>

			<h5 class="muted">Asian-style cheesecake</h5>
			<div>
				<p>With strawberry sauce!</p>
			</div>

		<hr>

		<h4 class = "muted">Girns</h3>
		<p id="simrunn">
			Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. Simrunn is gay. 
		</p>
		<input type="button" class="btn btn-primary" id="toggleButton" value="No, he's not."/>

		<hr>

		<div class="footer">
			<p><small>&copy; Jasmina Xie 2013</small></p>
		</div>

	</div> <!-- /container -->

	<!-- Javascript is at the end to make pages load faster-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>