<!DOCTYPE HTML>
<html lang = "en">
<head>
	<title>Jasmina Xie</title>
	<meta charset = "UTF-8"/>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet"><link rel="shortcut icon" href="../../img/favicon.png">
</head>

<body>
	<div class = "wrapper">
	<!-- Begin page content -->

	<div class = "container-narrow">

		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li><a href='/'>Home</a></li>
				<li class ="active"><a href="#">jQuery</a></li>
				<li><a href="/javascript">JavaScript</a></li>
			</ul>
			<h3><a href='/' class = "muted">Developing Developer</a></h3>
		</div>

		<hr>

		<div class="jumbotron">
			<h1>Jasmina Xie</h1>
			<p class="lead">Hi, I'm Jasmina. I'm a developing developer. Here's the neat jQuery stuff I've learned so far.</p>
		</div>

		<hr>
		<div id="food">
			<h4 class="muted">Tasty Things (jQuery animations)</h4>

			<h5 class="muted">Monterey Bay abalone in its own juices, porcini with puffed rice, chestnut</h5>
			<div>
				<img src="../../img/abalone.jpg" class="img-rounded"/>
				<p>By Chef David Kinch of Manresa.</p>
			</div>

			<h5 class="muted">Roast Maine Lobster with Potato Purée, Black Trumpet Mushrooms, Edamame and Tarragon</h5>
			<div>
				<img src="../../img/lobster.jpg" class="img-rounded"/>
				<p>From Gary Danko in San Francisco, CA.</p>
			</div>

			<h5 class="muted">Asian-style light cheesecake with fresh strawberry sauce</h5>
			<div>
				<img src="../../img/cheesecake.jpg" class="img-rounded"/>
				<p>Homemade is better because it's not overtly sweet.</p>
			</div>
		</div>
		<hr>

			<h4 class = "muted">Automobile offspring (jQuery toggle)</h3>
			<p id="simrunn">
				Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang. Carson's tang.Carson's tang. Carson's tang. Carson's tang.  
			</p>
			<input type="button" class="btn btn-primary" id="toggleButton" value="Yum."/>
		<hr>
		<div class="push"></div>
	</div> <!-- /container -->
</div>


	<div class="footer">
		<p class="muted copyright"><small>&copy; 2013 Jasmina Xie</small></p>
	</div>


	<!-- Javascript is at the end to make pages load faster-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>