html, body{
	height: 99%;

	/*padding-top: 20px;*/
	/*padding-bottom: 40px;*/
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*Negative indent footer by it's height*/
	margin: 0 auto -60px;
}

.footer, .push {
	height: 60px;
}

.footer {
	background-color: #f5f5f5;
}


/*Custom container*/
.container-narrow {
	margin: 0 auto;
	max-width: 1000px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/*Main marketing message*/
.jumbotron {
	margin: 60px 0;
	text-align: center;
}

.jumbotron h1{
	font-size: 72px;
	line-height: 1;
}


.copyright {
	padding: 10px;
	text-align: center;
}

/*jQuery fun*/
#food h5{
	margin:0 0 5px 0;
	padding:5px 0 5px 10px;
	background-color: ;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-radius: 5px;
}

hr {
	margin: 0;
}

#food div{
	position: relative;
	text-align: center;
}

